<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movieById</title>
</head>
<body>
    <p>Test by id</p>
    <p><strong>Id: <%= movie.id %></strong></p>
    <p><strong>Title: <%= movie.title %></strong></p>
    <p>Director: <%= movie.director %></p>
    <p>Year Released: <%= movie.year %></p>
    <p>----------</p>
</body>
</html>